h1{color: #009abe;font-family: sans-serif;font-size: 46px}
h2{color: #009abe;font-family: sans-serif;font-size: 40px}
p{font-family: sans-serif; font-size: 36px; text-align: justify}
table{border: 3px solid #009abe;color: #3d3d3d;border-collapse: collapse; width: 100%; font-size: 32px}
td{border: 3px solid #009abe;color: #3d3d3d;font-family: sans-serif;height: 50px;}
th{border: 3px solid #009abe;color: #3d3d3d;font-family: sans-serif;height: 50px;background-color: #c4e7ff;}
.title-table{background-color: #009abe; color: #ffffff}
.body{width: 70%; padding: 0% 15% 0% 15%}
button {background-color:#77b55a;border-radius:7px;cursor:pointer;color:#ffffff;font-size:19px;padding:9px 12px;position: fixed;}