<button (click)="callPDF()">click</button>
<div class="body" id="teste">
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
</div>

<div class="body" id="teste2">
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
</div>

<div class="body" id="teste3">
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
  <h1>teste</h1>
</div>

<router-outlet></router-outlet>